---
repositoryUrl: https://github.com/line/link
verifyConditions: ['@semantic-release/github']
prepare: []
publish: ['@semantic-release/github']
success: ['@semantic-release/github']
fail: ['@semantic-release/github']
