name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*' # Push events to matching v*, i.e. v1.0, v20.15.10
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - name: Build & Publish release
        run: |
          make release
        env:
          GORELEASER_MOUNT_CONFIG: true
          GORELEASER_IMAGE: line/goreleaserx-wasm:1.0.0-0.10.0
          GORELEASER_RELEASE: true
          BUILD_TAGS: static
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
